*{
  margin: 0px;
  padding: 0px;
}
.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #31313C;
  height: 100vh;
  color: orange;
  .Modal {
    display: flex;
    flex-direction: column;
    background-color: #FDFEFD;
    border-radius: 5%;
    height: 400px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .nav{
      display: flex;
      width: 80%;
      height: 100px;
      margin: auto;
      background-color: purple;
      .title{
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}